body{
    font-family: sans-serif;
    background-color: #f5f5f5;
    text-align: center;
    margin-top: 50px;
}
input{
    padding: 10px;
    width: 200px;
    margin-right: 10px;
}
button{
    padding: 10px 15px;
    cursor: 0;
}
ul{
    list-style-type: none;
    padding: 0;
}
li{
    background-color: #fff;
    margin: 5px auto;
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
} 